{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h1>Importador de películas</h1>

    <p>Este es el comando para importar el archivo IMDb_movies.csv</p>
    <p><code>symfony console app:import-csv</code></p>
    <p>No tengas prisa mientras se importan. Tarda bastantes minutos.</p>

{% endblock %}