{% extends 'base.html.twig' %}

{% block title %}
    La Videoteca
{% endblock %}

{% block body %}
    <div class="container home">
        <div class="row">
            <div class="col">
                <p>Este es el gestor de películas que he desarrollado con Symfony 5.4</p>
                <p>Lo importante lo encontrarás en el /admin</p>
            </div>
        </div>
    </div>
{% endblock %}